
.Card {
  width: 71vw; /* 100 * 2.5/3.5 */
  height: 100vw;
  max-width: 57vh; /* 80 * 2.5/3.5 */
  max-height: 80vh;
  background: url('./Images/Characters/Wolfen1.2.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 3px 4px 13px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 100ms linear all;
}

.Card,
.CardOverlay {
  border-radius: 10px;
}

.CardOverlay {
  background: linear-gradient(to bottom, rgba(199, 234, 202, 0.38) 0%,rgba(22, 49, 19, 0.52) 100%);
}

.CardAcceptOverlay {
  background: rgba(79, 255, 79, 0.53);
}
.CardRejectOverlay {
  background: rgba(225, 59, 17, 0.73);
}

.CardShineContainer {
  overflow: hidden;
}
.CardShine {
  position: relative;
  width: 120vmin;
  height: 120vmin;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.43) 0%,rgba(125, 185, 232, 0.00) 60%);
  display: none;
}

.CardTitle {
  color: #fff;
  margin: 10px;
}
